{%extends 'all-image/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <div class="" style=''>
       <img src="{{profile.prof_pic.url}}" style='float:left;height:80%;width:30%;margin-right:60px;' alt="Profile Pic">

     </div>
     <div class="" style='margin-top:100px;'>
       <!-- <div class="">
         <p>Posts : {{user.posts}}</p>
         <p>followers : {{user.followers}}</p>
         <p>following : {{image.following}}</p>
       </div> -->
       <div class="row">
         {% autoescape on %}
         {{profile.bio| safe}}
        {% endautoescape %}

       </div>
     </div>
     {% for image in image %}
     <img src="{{user.prof_pic.url}}" style='float:left;height:80%;width:50%;margin-right:60px;' alt="Profile Pic">
     <p>Posted <strong>{{image.pub_date|timesince}}</strong> ago</p>
     <p>by <strong>{{image.user.username}}</strong></p>
     <p>{{image.comments}}</p>
     <p>{{image.likes}}</p>
     {%endfor%}
   </div>
   <a href="{%url 'edit_prof'%}">
     <input type="submit" class="btn btn-primary btn-sm" value="Edit Profile">
   </a>
 </div>
 <!-- </div> -->

 {% endblock %}
